$primary-color: #222;
$primary-text-color: #222;
$overlay-color: #FFD700;
$navbar-hover-color: #0892D0;
$menu-speed: 0.75s;


button{
  background: rgba(0,0,0,0);
  border: none;
  color: $primary-text-color;
  font-size: 2.3rem;
  padding: 0;
  p{
    margin: 0;
  }

  // &:hover{
      // color: $navbar-hover-color;
      // p{
        // border-bottom: solid 2px #000;
      // }
  // }
}

// .menu-wrap{
// position: fixed;
// top: 0;
// right: 0;
// z-index: 1;

// .toggler{
//  position: absolute;
//  top: 0;
//  right: 0;
//  z-index: 2;
//  cursor: pointer;
//  width: 50px;
//  height: 50px;
//  opacity: 0;
// }

//   /* Toggler Animation */
// /* This rotates everything by 135deg. The middle line is now in the position we want */
// .toggler:checked + .hamburger > div{
//   transform: rotate(135deg);
// }

// /* On checked event, we want menu visibility from hidden to visible, the first div within to scale up, second div to become opacity 1 */
// /* Show Menu */
// .toggler:checked ~ .menu{
//   visibility: visible;
// }

// .toggler:checked ~ .menu > div{
//   transform: scale(1);
//   transition-duration: var($menu-speed);
// }

// .toggler:checked ~ .menu > div > div{
//   opacity: 1;
//   /* This makes the list items show after a moment */
//   transition: opacity 0.4s ease 0.4s;
// }

//   /* Turns Lines Into X */
// /* The before and after line will be rotated a FURTHER 90deg to make it so that we have an x */
// .toggler:checked + .hamburger > div:before,
// .toggler:checked + .hamburger > div:after{
//   top:0;
//   transform: rotate(90deg);
// }

// /* Rotate on Hover when checked */
// .toggler:checked:hover + .hamburger > div{
//   transform: rotate(225deg);
// }

// .hamburger{
//   position: absolute;
//   top: 0;
//   right: 0;
//   z-index: 1;
//   width: 40px;
//   height: 50px;
//   padding-right: 0.7rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//     /* Middle Hamburger Line */
//     & > div{
//     position: relative;
//     flex: none;
//     width: 100%;
//     height: 1.5px;
//     background: #222;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.4s ease;
//   }
// }

// /* Hamburger Lines- top and bottom */
//  .hamburger >div:before,
//  .hamburger >div:after{
//   content: '';
//   position: absolute;
//   z-index: 1;
//   top: -10px;
//   width: 100%;
//   height: 1.5px;
//   background: inherit;
// }

// /* Moves 1 line below middle line  */
// .hamburger >div:after{
//   top: 10px;
// }

// .menu{
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   visibility: hidden;
//   overflow: hidden;

//   .overlay{
//     background: $overlay-color;
//     padding: 0;

//     & > div{
//       width: 100vw;
//       height: 100vh;
//       opacity: 0;
//       transition: opacity ease;

//       ul{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 100%;
        
//         li{
//           list-style: none;
//           font-size: 2.5rem;
//           margin: 1.4rem 0;

  
//            a, button{
//             transition: color 0.3s ease;
//           }
//          }
//       }
//      }
//   }
// }
// }