$primary-color: #aaa;
$primary-text-color: #ddd;
$overlay-color: rgba(40, 40, 40, 0.902);
$menu-speed: 0.75s;

button{
  background: rgba(0,0,0,0);
  border: none;
  color: $primary-text-color;

  &:hover{
      color: darken($primary-text-color, 40%)
  }
}

.menu-wrap{
position: fixed;
top: 0;
left: 0;
z-index: 1;

.toggler{
 position: absolute;
 top: 0;
 left: 0;
 z-index: 2;
 cursor: pointer;
 width: 50px;
 height: 50px;
 opacity: 0;
}

  /* Toggler Animation */
/* This rotates everything by 135deg. The middle line is now in the position we want */
.toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

/* On checked event, we want menu visibility from hidden to visible, the first div within to scale up, second div to become opacity 1 */
/* Show Menu */
.toggler:checked ~ .menu{
  visibility: visible;
}

.toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var($menu-speed);
}

.toggler:checked ~ .menu > div > div{
  opacity: 1;
  /* This makes the list items show after a moment */
  transition: opacity 0.4s ease 0.4s;
}

  /* Turns Lines Into X */
/* The before and after line will be rotated a FURTHER 90deg to make it so that we have an x */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after{
  top:0;
  transform: rotate(90deg);
}

/* Rotate on Hover when checked */
.toggler:checked:hover + .hamburger > div{
  transform: rotate(225deg);
}

.hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var($primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

    /* Middle Hamburger Line */
    & > div{
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
}

/* Hamburger Lines- top and bottom */
 .hamburger >div:before,
 .hamburger >div:after{
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves 1 line below middle line  */
.hamburger >div:after{
  top: 10px;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;

  .overlay{
    background: $overlay-color;
    padding: 0;

    & > div{
      width: 100vw;
      height: 100vh;
      opacity: 0;
      transition: opacity ease;

      ul{
        padding: 2.5rem;
        
        li{
          list-style: none;
          font-size: 2.5rem;

  
           a, button{
            transition: color 0.3s ease;
          }
          
          ul{
            padding: 0;
            margin: 0;
            .storieslist{
              display: none;
              font-size: 1.3rem;
              width: 80vw;
              a{
                padding: 0 4rem;
                width: 100%;
              }
            }
          }
  
         }
      }
     }
  }
}
}