@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

$primary-text-color: #222;
$text-color-light: #888;
$Primary-background-color: #666;
$Primary-background-color-dark: #333;
$head-foot-background-color: #fff;
$navbar-hover-color: #0892D0;

