@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

$primary-text-color: #222;
$text-color-light: #888;
$Primary-background-color: #666;
$Primary-background-color-dark: #333;
$head-foot-background-color: #fff;

// Links
a{
  text-decoration: none !important;
  color: $primary-text-color !important;

  &:hover{
    color: darken($primary-text-color, 40%) !important;
  }
}
// Navbar
#Navigation{
  border: solid 2px #222;
  background: $head-foot-background-color;
  height: 3rem;
  padding: 0;

  &:hover{
    background: cyan;
  }
  
  .container{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

    ul{
      display: flex;
      margin: 0;

      li, span{
        padding: 1rem;
        padding-right: 0;

      }
    }
  }
  
}

// Navbar 

// Hiding modal on the index.html 
#modal{
  display: none;
}
.navbarModalBtn{
  color: $primary-text-color;
  border: none;
  background: $head-foot-background-color;

  &:hover{
    color: #666;
  }
}

// Modal Content
// Grabbing the modal container - found classname using devtools
.styles_modal__gNwvD{
  padding: 0;
  opacity: 0.6;
}


.modalContainer{
  background: #444;
  .modalContent{
    padding: 0.4rem;
    background: #555;
    text-align: center;
    display: flex;
    flex-direction: row;
    .modalStory{
      margin: 2rem;

      img{
        width: 8rem;
      }
      h4{
        border-bottom: solid 3px $text-color-light;
        padding-bottom: 0.4rem;
        color: #eee;
      }
  
      ul{
        margin: 0 auto;
        padding: 0;
      }
    }
  } 
}

@media only screen and (max-width: 767px){
// Navbar
  #Navigation{
    .container{
      .aviskr{
        padding: 0.2rem;
      }

      ul{
        display: flex;
        flex-direction: column;
        margin-right: 100%;
        
        li, span{
          padding: 1rem;

        }
      }
    }
  }
  
}
