@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

$primary-text-color: #999;
$Tab2-Background-Color: #ddd;
$Primary-background-color: #fff;
$Tab1-Background-Color: #333;
$head-foot-background-color: #bbb;


.App{
  overflow: hidden;
}

.App{
  background: $Primary-background-color;
}

// REUSABLE STYLING
.pageContainer{
  padding: auto;
}

.container{
  margin: auto;
  max-height: 100%;
}

.aviskr{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.8rem;
}

ul{ list-style: none}



// SINGULAR STYLING

#Footer{
  background: $head-foot-background-color;
  text-align: left;
  .container{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    padding-top: 1.4rem;
    span{
      font-size: 2.7rem;
    }
  
    div{
      padding-top: 1rem;
      line-height: 1.6;
      h3{
        font-size: 1.3rem;
      }
      ul{
        padding: 0;
        li{
          ul{
            padding-left: 0.7rem;
          }
        }
      }
    }
  }
}

// Story tabs
#home-tab{
  padding: 0;

  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    

    
    .tab1, .tab2{
      padding: 0;
      & button{
        width: 100%;
        height: 100%;
        padding: 0.8rem 1.3rem; 
        border-bottom: none;
      }
    }
    
    
    .tab1{     
      button{
        background: $Tab1-Background-Color;
        color: $Tab2-Background-Color;
        border-top: solid 0.001px darken($Tab1-Background-Color, 20%);
        border-left: none;
      }
      
    }
    
    .tab2{
      
      button{
        color: $Tab1-Background-Color;
        background: $Tab2-Background-Color;
        border-top: solid 0.001px darken($Tab2-Background-Color, 20%);
        border-right: none;
        
      }
    }
    
  }

}

#HomeTop{
  padding: 0;
  img{
    height: 50vh;  
  }
}

#FirstStory, #SecondStory{
  font-size: 1.2rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  // grid-gap: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background: $Primary-background-color;
  color: $Tab2-Background-Color;


  
  .image-container{
    display: flex;
    justify-content: center;
    img{
      width: 70%;
      height: auto;
      overflow: hidden;
    }
  }
}

// Editing carousel layout
#carousel-item, #carousel-item2{
  height: 359px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 4rem;
  margin: 0 0 1rem 0;

  .container{
    overflow: hidden;
    img{
      padding: 2rem;
      width: 100%;
      height: 70%;
      border-radius: 38px;
    }

    h3{ margin: 1rem 2rem};

    p{
      margin: 0 2rem;
      font-size: 1.2rem;
    }
  }

}

// Setting carousel indicators to circular
.carousel-indicators{
 li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
  }
}

// Carousel Alternate state colors
#carousel-item{
  background: $Tab1-Background-Color;
  color: $Tab2-Background-Color;
}

#carousel-item2{
  background: $Tab2-Background-Color;
  color: $Tab1-Background-Color;
}
  

// About page
#about{
  margin: 2rem auto;
  padding: 0 4rem;
}

// Contact page - Form styling
#contact{
  .container{
    .text-fields{
      .text-input, button,h3{
        display: block;
        margin: 2rem auto;
        width: 70%;
        border-radius: 4px;

      }

      textarea{
        height: 5rem;
      }
      
      button{
        background: #555;
        border: none;
        height: 2.2rem;
      }
    }

    h3{
      font-weight: 200;
    }
  }
}

//Media Queries
@media only screen and (max-width: 767px){
  #home-tab{  
    ul{
      justify-content: space-between;
      margin: 0;
      padding: 0;
      li{
        margin: 0;
        padding: 0.6rem 1rem;
        width: 50%;
        text-align: center;
      }
  
      .tab1{
        background: $Tab1-Background-Color;
        color: $Tab2-Background-Color;
  
      }
  
      .tab2{
        background: #ccc;
        color: $primary-text-color;
      }
    }
  
  }

  // Stacking Carousel
  #carousel-item, #carousel-item2{
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    .container{
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
      
      img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0px;
      }
  
      h3{ 
        margin: 1rem;
      }
      p{
        margin: 1rem;
        font-size: 1.1rem;
      }
    }
  }

  #homeTop{
    margin: 0;
  }

  // Stacking stories
  #FirstStory, #SecondStory{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    border-bottom: 8px solid #444;
    
    
    .image-container{
      display: flex;
      justify-content: center;
      img{
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }

    p, h3{
      margin: 1rem;
    }
  }
  
  // Switching image to come first in FirstStory
  #FirstStory{
    div{
      order: 2;
    }
    .image-container{
      order: 1;
    }
  }

  // Footer
  #Footer{
    
    text-align: center;
    .container{
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-top: 1.4rem;
      span{
        font-size: 2.7rem;
      }

      .quick-links{
        display: none;
      }
    
      div{
        padding-top: 1rem;
        line-height: 1.6;
        h3{
          font-size: 1.3rem;
          
        }
        ul{
          
          li{
            ul{
              padding-left: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px){
  #FirstStory, #SecondStory{
    height: 35vh;
    }
  
  }




