@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');

$primary-text-color: #999;
$Tab2-Background-Color: #ddd;
$Primary-background-color: #fff;
$Tab1-Background-Color: #333;
$head-foot-background-color: #bbb;

.App{
  overflow: hidden;
  background: $Primary-background-color;
  box-sizing: border-box;
  font-size: 1.15rem;
  line-height: 1.5rem;
}

a{
  color: #000;

  &:hover{
    text-decoration: none;
  }

}


.container{
  margin: auto;
  max-height: 100%;
}

#aviskr{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.8rem;
  color: #000;
}

ul{ list-style: none}





